body {
    background-color: white;
    color: black;
    font-family: 'Red Hat Text', verdana, sans-serif;
    display: grid;
}
#wiz_txt{
    text-align: center;
    font-size: 20px;
    background-color: #e5d8bd;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    margin-top: 0em;
    margin-bottom: 0em;
}
.emb_radio{
    margin-right: 1.5em;
}
#table_sect{
    text-align: center;
}
table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: #f0efef;
}
#USE_all, #ST_all{
    margin-right: 2em;
}
#load{
    margin-top: 1.5em;
    font-size: 20;
    width: 6em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
}
#single_opt {
    font-size: 9px;
    position: relative;
    top: -2px;
    left: -2px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border: 1px solid #969696;
    border-radius: 7px;
    background: #f0f0f0;
}
.slider_sel_lim {
    -webkit-appearance: none;  /* Override default CSS styles */
    background-color: #737373;
    height: 8px;
    border-radius: 12px;
    position: relative;
    top: -2px;
    margin-top: 0.4em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.svg-container_guide {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    vertical-align: top;
    overflow: hidden;
}
.svg-container_embchart {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: top;
    overflow: hidden;
}
.svg-container_ensemble_scatter {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    vertical-align: top;
    overflow: hidden;
}
#filter_score {
    position: relative;
    top: -3%;
}
#lbl_filter_score {
    margin-left: 10%;
    margin-right: 0.5em;
}
#filter_score_out {
    margin-left: 0.5em;
}
.bordered {
    border-style: solid;
    border-width: 1px;
 }
.bordered_bottom {
    border-bottom: 1px solid;
}
.bordered_lr {
    border-right: 1px solid;
    border-left: 1px solid;
}
#ensemble {
    margin-top: 0.75em;
}
#ensemble_comp_legend {
    display: grid;
    grid-template-columns: 0.68fr 0.32fr 1fr 4fr;
/*    grid-template-columns: 1fr 1fr 4fr; */
}
#voting_scheme_lbl {
    padding-left: 8em;
}
input[name="voting_scheme"] {
    margin-left: 1em;
}
#guide {
    background-color: #d4d3d3;
    border-radius: 4px;
    border-color: #bdbdbd;
    height: 1.45em;
}
#ensemble_comparison {
    display: grid;
    grid-template-columns: 2fr 4fr;
}
#emb_sel_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 115px);
}
.grid {
    display: grid;
}
.sel_lim_output {
    text-align: center;
    font-size: 12px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.clickable:hover {
    cursor: pointer;
}
.grey {
    background-color: #f5f5f5;
}
.text_centered {
    text-align: center;
}
.TXT_USE_first_color, .TXT_ST_first_color {
    background-color: #1f78b4;
}
.TXT_USE_last_color, .TXT_ST_last_color {
    background-color: #6a3d9a;
}
.TXT_USE_first_and_last_color, .TXT_ST_first_and_last_color {
    background-color: #e31a1c;
}
.TXT_USE_full_color, .TXT_ST_full_color {
    background-color: #ff7f00;
}
.TXT_USE_keywords_color, .TXT_ST_keywords_color {
    background-color: brown;
}
.CIT_n2v_X_color {
    background-color: #a6cee3;
}
.CIT_randne_color {
    background-color: #cab2d6;
}
.CIT_netmf_color {
    background-color: #fb9a99;
}
.CIT_boostne_color {
    background-color: #fdbf6f;
}
.CIT_laplace_color {
    background-color: #917652;
}
.span_highlight {
    background-color: yellow;
}
.span_highlight2 {
    background-color: #76ee26;
}
.span_first_nid {
    color: blue;
}
.span_path_length {
    color: black;
    font-size: 12px;
}
.text_comparison{
    font-size: 10px;
    padding-left: 1em;
    padding-right: 1em;
}
.text1 {
    color: blue;
}